.link-section {
  text-decoration: underline;
  text-decoration-color: #a6ce39;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.4rem;
  transition: 0.2s ease-in-out;
  color: #f89b1c !important;
}

.count-active {
  visibility: visible !important;
}

.show-page-section {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.3s ease-in-out 0.5s;
}

.hovered-show {
  visibility: visible !important;
  opacity: 1 !important;
}

.hide-item {
  display: none !important;
}

.pt-none {
  padding-top: 0 !important;
}

input.valid {
  border: 0.3rem solid #38bc38 !important;
}

input.invalid {
  border: 0.3rem solid red !important;
}

input.invalid + .form-message {
  opacity: 1;
  visibility: visible;
}

input.valid + .form-message {
  opacity: 0;
  visibility: hidden;
}

.show-warning {
  display: block !important;
}

.thank-you-show {
  display: block !important;
}

.summary-page-slideout {
  transform: translateX(-500%);
  transition: 0.3s ease-in-out;
}

.summary-page-show {
  transform: translateX(0%) !important;
}

.payment-page-show {
  transform: translateX(0%) !important;
}

.payment-page-slideout {
  transform: translateX(-500%) !important;
  transition: 0.3s ease-in-out;
}

.order-complete-page-show {
  transform: translateX(0%) !important;
}

.order-complete-page-slideout {
  transform: translateX(800%) !important;
}

.complete-bg {
  background: #f89b1c !important;
}
