/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  background: #fafafa;
  height: 100%;
  width: 100% !important;
  position: relative;
}

p {
  margin-bottom: 0 !important;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*:focus {
  outline: none;
}

input,
textarea {
  background-color: white;
}

body,
.smooth-container {
  scroll-behavior: smooth;
}
