/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  background: #fafafa;
  height: 100%;
  width: 100% !important;
  position: relative;
}

p {
  margin-bottom: 0 !important;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*:focus {
  outline: none;
}

input,
textarea {
  background-color: white;
}

body,
.smooth-container {
  scroll-behavior: smooth;
}

#about {
  margin-top: 7rem !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.5s;
}
#about .about__banner {
  background-image: url(/img/soulfood.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50rem;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .about-banner-txt {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
#about .about-banner-txt .divider-top {
  height: 1.5rem;
  width: 25rem;
  background: #f89b1c;
  margin: auto;
  margin-bottom: 1rem;
}
#about .about-banner-txt .banner-heading-text {
  font-size: 5.5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
#about .about-banner-txt .divider-bottom {
  height: 1.5rem;
  width: 25rem;
  background: #f89b1c;
  margin: auto;
  margin-top: 1rem;
}

#about .about-us__container {
  margin-top: 5rem !important;
}
#about .about-us__container .who-we-are {
  font-size: 5rem;
  color: #f89b1c;
  margin-bottom: 3rem;
}
#about .about-us__container .who-we-are .emphasis {
  text-decoration: underline;
  -webkit-text-decoration-color: #a6ce39;
          text-decoration-color: #a6ce39;
  text-underline-offset: 0.8rem;
}
#about .about-us__container .who-we-are__txt1 {
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 2rem;
}
#about .about-us__container .who-we-are__txt2 {
  font-size: 1.6rem;
  width: 100%;
}

@media only screen and (max-width: 953px) {
  .who-we-are {
    font-size: 3rem;
    color: #f89b1c;
    margin-bottom: 3rem;
    text-align: center !important;
    margin: 0 auto !important;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .who-we-are .emphasis {
    text-decoration: none !important;
  }

  .about-us__text {
    text-align: center !important;
  }
}
#contact {
  margin-top: 7rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0.3s;
}
#contact .contact__banner {
  background-image: url(/img/souldfood3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
#contact .contact-txt {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
#contact .contact-txt .divider-top {
  height: 1.5rem;
  width: 26rem;
  background: #f89b1c;
  margin: auto;
  margin-bottom: 1rem;
}
#contact .contact-txt .contact-text {
  font-size: 5.5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
#contact .contact-txt .divider-bottom {
  height: 1.5rem;
  width: 26rem;
  background: #f89b1c;
  margin: auto;
  margin-top: 1rem;
}

.contact-title {
  font-size: 4rem;
  color: #f89b1c;
  text-decoration: underline;
  -webkit-text-decoration-color: #a6ce39;
          text-decoration-color: #a6ce39;
  text-underline-offset: 0.8rem;
  margin-bottom: 5rem;
}

.thank-you-section .thank-you-title {
  font-size: 3rem;
  font-weight: 500;
  color: #a6ce39;
  margin-bottom: 2rem;
  text-align: center;
}
.thank-you-section .thank-you-message {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  text-align: center;
}
.thank-you-section .thank-you-socials {
  margin-top: 3rem;
  margin-bottom: 7rem;
}
.thank-you-section .thank-you-socials .social {
  font-size: 3rem;
  margin-right: 2rem;
  background: #f89b1c;
  padding: 0.8rem 1.8rem;
  border-radius: 0.5rem;
  color: white;
}
.thank-you-section .thank-you-socials .social:hover {
  transition: 0.3s ease-in-out;
  background: #e7931c;
}

.contact-input {
  padding: 1.5rem;
  font-size: 1.6rem;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.contact-label {
  font-size: 1.6rem;
  color: #a6ce39;
  margin-bottom: 1rem;
}

.contact-col .form-message {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: red;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.warnings {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.warnings .warning-text {
  font-size: 1.3rem;
  color: red;
  display: none;
}

.contact-btn .contact-submit {
  padding: 2rem 6rem;
  border: none;
  background: #a6ce39;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.link-section {
  text-decoration: underline;
  -webkit-text-decoration-color: #a6ce39;
          text-decoration-color: #a6ce39;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.4rem;
  transition: 0.2s ease-in-out;
  color: #f89b1c !important;
}

.count-active {
  visibility: visible !important;
}

.show-page-section {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.3s ease-in-out 0.5s;
}

.hovered-show {
  visibility: visible !important;
  opacity: 1 !important;
}

.hide-item {
  display: none !important;
}

.pt-none {
  padding-top: 0 !important;
}

input.valid {
  border: 0.3rem solid #38bc38 !important;
}

input.invalid {
  border: 0.3rem solid red !important;
}

input.invalid + .form-message {
  opacity: 1;
  visibility: visible;
}

input.valid + .form-message {
  opacity: 0;
  visibility: hidden;
}

.show-warning {
  display: block !important;
}

.thank-you-show {
  display: block !important;
}

.summary-page-slideout {
  transform: translateX(-500%);
  transition: 0.3s ease-in-out;
}

.payment-page-show {
  transform: translateX(0%) !important;
}

.payment-page-slideout {
  transform: translateX(-500%) !important;
  transition: 0.3s ease-in-out;
}

.order-complete-page-show {
  transform: translateX(0%) !important;
}

.complete-bg {
  background: #f89b1c !important;
}

#footer {
  background: #a6ce39;
  padding: 1.5rem;
  margin-top: 4rem;
}
#footer .copyright {
  font-size: 1.4rem;
  color: white;
}
#footer .footer-socials .fab {
  font-size: 1.6rem;
  margin-right: 1.2rem;
  color: white;
  cursor: pointer;
}
#footer .footer-socials .fab:hover {
  color: #f89b1c;
  transition: 0.3s ease-in-out;
}

#home {
  margin-top: 7rem !important;
}
#home .header-box {
  background: #f89b1c;
  width: 115rem;
  padding: 7rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  position: relative;
}
#home .header-box .header__text .intro-txt {
  width: 100%;
  color: white;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-top: 3rem;
}
#home .header-box .header__text .intro-description {
  color: #3e3d3d;
  font-size: 1.6rem;
  width: 92%;
  margin-bottom: 4rem;
}
#home .header-box .header__text .order-now {
  padding: 2rem 4rem;
  border: none;
  background: #a6ce39;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#home .header-box .header__text .order-now:hover {
  background: #97bb33;
  transition: 0.3s ease-in;
}

.header__jump-btn {
  position: absolute;
  bottom: -3rem;
  text-align: center;
  left: 0;
  right: 0;
}
.header__jump-btn .fa-arrow-down {
  background: #a6ce39;
  padding: 2rem;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 800px) {
  .intro-txt {
    width: 100%;
    color: white;
    font-size: 2.8rem;
    text-align: center !important;
    margin-bottom: 2rem;
    font-weight: 700;
    margin-top: 3rem;
  }

  .intro-description {
    color: #3e3d3d;
    font-size: 1.3rem !important;
    width: 100% !important;
    margin-bottom: 4rem;
    text-align: center;
  }

  .order-now {
    padding: 1rem 3rem !important;
    border: none;
    background: #a6ce39;
    border-radius: 0.5rem;
    font-size: 1.4rem !important;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center !important;
    margin: 0 auto !important;
    margin-bottom: 3rem !important;
  }

  .header__img img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
  }
}
@media only screen and (max-width: 1192px) {
  .intro-txt {
    text-align: center !important;
  }

  .intro-description {
    color: #3e3d3d;
    width: 100% !important;
    text-align: center;
  }

  .order-now {
    display: flex;
    justify-content: center !important;
    margin: 0 auto !important;
    margin-bottom: 3rem !important;
  }

  .header__img img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
  }
}
#menu {
  margin-top: 7rem !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.3s;
}
#menu .menu__banner {
  background-image: url(/img/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 8rem;
}
#menu .menu-txt {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
#menu .menu-txt .divider-top {
  height: 1.5rem;
  width: 15.5rem;
  background: #f89b1c;
  margin: auto;
  margin-bottom: 1rem;
}
#menu .menu-txt .menu-text {
  font-size: 5.5rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
#menu .menu-txt .divider-bottom {
  height: 1.5rem;
  width: 15.5rem;
  background: #f89b1c;
  margin: auto;
  margin-top: 1rem;
}

.menu-categories {
  margin-bottom: 10rem !important;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 0;
  border-bottom: 0.5rem solid #a6ce39;
  position: relative;
}

.selections {
  color: #f89b1c;
  font-size: 3.5rem;
}

.categories .category-one,
.categories .category-two,
.categories .category-three,
.categories .category-four {
  position: relative;
}
.categories .hovered-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3rem;
  left: 0;
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  text-align: center;
  font-size: 1.6rem;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 5000;
}
.categories .hovered-category p {
  font-size: 1.5rem;
  color: #f89b1c;
  font-weight: 500;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.categories .hovered-category p:hover {
  transition: 0.3s ease-in;
  color: #a6ce39;
}
.categories .all-btn {
  padding: 1.5rem 3rem;
  margin-right: 2.5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: none;
  background: #a6ce39;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
}
.categories .category {
  padding: 1.5rem 3rem;
  margin-right: 3rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: none;
  background: #a6ce39;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
}

.item {
  background: white;
  padding-right: 3rem !important;
  padding: 3rem;
  height: 35rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.item {
  background: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.item .item-name {
  font-size: 2rem;
  color: #a6ce39;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.item .item-description {
  font-size: 1.3rem;
  color: #3e3d3d;
  padding-bottom: 3rem;
}
.item .order-btn {
  padding: 1.3rem 2rem;
  border: none;
  background: #f89b1c;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.item .order-btn:hover {
  background: #ec961c;
  transition: 0.3s ease-in-out;
}
.item .food-pic {
  height: 13rem;
  margin-bottom: 5rem;
}

.food-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #a6ce39;
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-color: #f89b1c;
          text-decoration-color: #f89b1c;
  text-underline-offset: 0.8rem;
}

.meat__title {
  padding-top: 7rem;
}

.sides__title {
  padding-top: 7rem;
}

.desserts__title {
  padding-top: 7rem;
}

@media only screen and (max-width: 1198px) {
  .all-btn {
    padding: 1rem 2rem !important;
  }

  .category {
    padding: 1rem 2rem !important;
  }
}
@media only screen and (max-width: 990px) {
  .all-btn {
    padding: 1rem 2rem !important;
  }

  .category {
    padding: 1rem 2rem !important;
  }

  .categories-container {
    flex-direction: column !important;
  }

  .selections-container {
    display: block !important;
    flex-wrap: wrap !important;
    flex-basis: 100% !important;
  }

  .selections {
    margin-bottom: 3rem !important;
  }

  .categories {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-basis: 100% !important;
    justify-content: center;
  }
  .categories button {
    padding: 1rem 1.5rem !important;
    margin-right: 1rem !important;
  }
}
@media only screen and (max-width: 800px) {
  .selections-container {
    margin: auto !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .categories button {
    font-size: 1.4rem !important;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .categories-container {
    border: none;
  }

  .categories button {
    font-size: 1.4rem !important;
    margin-top: 1.5rem;
    border-radius: 0.5rem !important;
  }
}
.cart-modal-bg {
  background: rgba(0, 0, 0, 0.171);
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.cart-modal-bg .cart-modal {
  background: #f8f8f8;
  position: relative;
  transition: 0.3s ease-in;
  max-width: 100rem;
  width: 100%;
  height: 80%;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.cart-modal-bg .cart-modal .checkout-page {
  position: relative;
}
.cart-modal-bg .cart-modal .cart-sum {
  background: #a6ce39;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
.cart-modal-bg .cart-modal .cart-sum .cart-title {
  color: white;
  font-size: 3rem;
}
.cart-modal-bg .cart-modal .cart-modal-close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  z-index: 3000;
  cursor: pointer;
}
.cart-modal-bg .cart-modal .cart-modal-close .fa-times-circle {
  font-size: 3rem;
  color: black;
}
.cart-modal-bg .cart-modal .summary {
  transition: 0.3s ease-in-out;
}

.bag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bag .bag-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.bag .orders {
  margin-bottom: 3rem;
}
.bag .order-item-col {
  margin-top: 4rem !important;
}
.bag .orders li {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
}
.bag .orders li img {
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.bag .orders .item-price {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bag .orders .remove-btn {
  padding: 1.5rem 0.5rem;
  width: 9rem;
  background: #f89b1c;
  border: none;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  font-weight: 600;
}
.bag .orders .remove-btn:hover {
  background: #e48f19;
  transition: 0.3s ease-in-out;
}
.bag .bag-divider {
  height: 0.2rem;
  width: 100rem !important;
  background: rgba(0, 0, 0, 0.13);
}

.checkout-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.checkout-price .to-details-btn {
  margin-bottom: 3rem;
  padding: 2rem 4rem;
  border: none;
  background: #a6ce39;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  font-weight: 600;
}
.checkout-price .amount-alert {
  color: red;
  font-size: 1.6rem;
  margin-bottom: 1rem !important;
  margin-top: 1rem;
}
.checkout-price .checkout-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.checkout-price .total-price {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.checkout-price .total-price .total-number {
  font-weight: 600;
  color: #f89b1c;
}
.checkout-price .total-divider {
  height: 0.2rem;
  width: 100rem !important;
  background: rgba(0, 0, 0, 0.13);
}

.warnings {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warnings .warning-text {
  font-size: 1.3rem;
  color: red;
  display: none;
  margin-bottom: 2rem !important;
}

.enter-details-page {
  margin-top: 3rem;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(500%);
}
.enter-details-page .form-message {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: red;
  opacity: 0;
  visibility: hidden;
}
.enter-details-page .details-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.enter-details-page .details-form .name-area {
  margin-bottom: 2rem;
}
.enter-details-page .details-form .name-area label {
  font-size: 1.6rem;
  color: #a6ce39;
}
.enter-details-page .details-form .name-area .details-name {
  padding: 1.5rem;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.enter-details-page .details-form input {
  width: 40rem;
}
.enter-details-page .details-form .email-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.enter-details-page .details-form .email-area label {
  font-size: 1.6rem;
  color: #a6ce39;
}
.enter-details-page .details-form .email-area .details-email {
  padding: 1.5rem;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.enter-details-page .details-form .payment-area {
  margin-bottom: 2rem;
}
.enter-details-page .details-form .payment-area label {
  font-size: 1.6rem;
  color: #a6ce39;
}
.enter-details-page .details-form .payment-area .details-payment-card {
  padding: 1.5rem;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.enter-details-page .details-form .payment-area .details-payment-cvc {
  padding: 1.5rem;
  margin-top: 1rem;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.enter-details-page .details-form .payment-area .details-payment-zip {
  padding: 1.5rem;
  margin-top: 1rem;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.enter-details-page .details-form .btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.enter-details-page .details-form .btn-area .go-back {
  padding: 2rem 3rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.5rem;
  background: #a6ce39;
  color: white;
  margin-bottom: 3rem;
  cursor: pointer;
  align-self: center;
  margin-right: 2rem;
}
.enter-details-page .details-form .btn-area .checkout-btn {
  padding: 2rem 2rem;
  font-size: 1.6rem;
  align-self: center;
  border: none;
  border-radius: 0.5rem;
  background: #f89b1c;
  color: white;
  margin-bottom: 3rem;
  cursor: pointer;
}
.enter-details-page .details-form .checkout-btn:hover {
  background: #e28e18;
  transition: 0.3s ease-in-out;
}
.enter-details-page .details-form .go-back:hover {
  background: #92b432;
  transition: 0.3s ease-in-out;
}

.orders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  margin-bottom: 3rem;
}
.orders li {
  margin-top: 1.5rem;
}

.order-complete-page {
  transform: translateX(800%);
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}
.order-complete-page .complete-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.order-complete-page .complete-message {
  font-size: 1.6rem;
  width: 90%;
  text-align: center;
}

@media only screen and (max-device-width: 584px) {
  .orders {
    grid-template-columns: 1fr;
  }
}
.details-payment-zip {
  margin-bottom: 1rem;
}

.top-bar {
  background: #f89b1c;
}
.top-bar .container {
  display: flex;
  align-items: center !important;
}
.top-bar .top-bar__address-phone {
  font-size: 1.6rem;
}
.top-bar .top-bar__address-phone .address {
  margin-right: 3rem;
  color: white;
}
.top-bar .top-bar__address-phone .address .fa-map-marker-alt {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.top-bar .top-bar__address-phone .phone {
  color: white;
}
.top-bar .top-bar__address-phone .phone .fa-phone-alt {
  color: white;
  margin-right: 0.5rem;
}
.top-bar .top-bar__hours {
  display: flex;
  font-size: 1.6rem;
  color: white;
}

@media only screen and (max-device-width: 582px) {
  .top-bar__address-phone {
    font-size: 1.1rem !important;
    text-align: center !important;
    display: flex;
    justify-content: space-between !important;
  }
}
@media only screen and (max-width: 1198px) {
  .top-bar__address-phone {
    font-size: 1.2rem !important;
    text-align: center !important;
  }

  .top-bar__hours {
    display: flex;
    font-size: 1.2rem !important;
    color: white;
  }
}
.navbar {
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.navbar .logo__img {
  height: 12rem;
}
.navbar .nav-item {
  font-size: 1.7rem;
}
.navbar .nav-item .nav-link {
  color: black;
  margin-right: 1.6rem;
}
.navbar .cart-item {
  margin-left: 2.6rem;
}
.navbar .cart-item .cart-link {
  position: relative;
  font-weight: 600;
}
.navbar .cart-item .cart-link img {
  height: 3rem;
  background: #a6ce39;
  padding: 0.7rem 0.9rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  height: 4rem;
  cursor: pointer;
}
.navbar .cart-item .count {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  background: red;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center !important;
  justify-content: center;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */